.grid {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(3, 100px);
}

.grid_item {
	height: 50px;
	border: 1px solid #000000;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.item_symbol {
	color: red;
	font-weight: 1000;
	font-size: 50px;
}

.item_symbol_o {
	color: black;
}